<%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/navigation.ejs') %>

<section id="register" style="background: url('/public/images/background-img.png') no-repeat;">
    <div class="container ">
      <div class="row my-5 py-5">
        <div class="offset-md-3 col-md-6 my-5 ">
          <h2 class="display-3 fw-normal text-center text-center mx-3 sm-mx-0">Registration
          </h2>
          <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input class="form-control form-control-lg" type="file" name="image" id="image">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" name="name" id="name"
                placeholder="Name">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" name="contact" id="contact"
                placeholder="Contact">
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-dark btn-lg rounded-1">Register it now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<%- include('./partials/footer-link.ejs'); %>

<%- include('./partials/copyrigth.ejs'); %>

<%- include('./partials/footer.ejs'); %>