<%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/navigation.ejs') %>

<section id="register" style="background: url('/public/images/background-img.png') no-repeat;">
    <div class="container ">
      <div class="row my-5 py-5">
        <div class="offset-md-3 col-md-6 my-5 ">
          <h2 class="display-3 fw-normal text-center text-center mx-3 sm-mx-0">Reservation
          </h2>
          <form method="post">
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" name="firstname" id="firstname"
                placeholder="Firstname" required>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" name="middlename" id="middlename"
                placeholder="Middlename" required>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control form-control-lg" name="lastname" id="lastname"
                placeholder="Lastname" required>
            </div>
            <div class="mb-3">
              <input type="number" class="form-control form-control-lg" name="contact" id="contact"
                placeholder="Contact" required>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-dark btn-lg rounded-1">Reserve Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<%- include('./partials/footer-link.ejs'); %>

<%- include('./partials/copyrigth.ejs'); %>

<%- include('./partials/footer.ejs'); %>